<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="fr.tvbarthel.apps.devredpe2014">

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme">
        <activity
            android:name="fr.tvbarthel.apps.devredpe2014.MainActivity"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="fr.tvbarthel.apps.devredpe2014.LookDetailActivity"
            android:label="@string/app_name"
            android:parentActivityName="fr.tvbarthel.apps.devredpe2014.MainActivity">
            <!-- Parent activity meta-data to support 4.0 and lower -->
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.myfirstapp.MainActivity" />
        </activity>
        <activity
            android:name="fr.tvbarthel.apps.devredpe2014.LicenseActivity"
            android:label="@string/title_activity_license"
            android:parentActivityName="fr.tvbarthel.apps.devredpe2014.MainActivity">
            <!-- Parent activity meta-data to support 4.0 and lower -->
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.myfirstapp.MainActivity" />
        </activity>
    </application>

</manifest>
